html, body {
    margin: 0;
    background-color: white;
    font-family: arial, sans-serif;
}

header {
    margin: 30px 450px;
    padding: 10px;
}

h1{
    margin-left: 100px;
    margin-right: 400px;
    padding: 20px;
    padding-right: 10px;
    color: orange;
    text-shadow: orange 1px 1px 8px;
    font-size: 50px;
}

#second-container{
    margin: 10px;
    padding: 10px;
}

#dark-light-mode {
    margin: 10px;
    padding: 10px;
    border: orange 2px solid;
    border-radius: 15px;
    box-shadow: orange 1px 1px 10px;
    background-color: white;
    color: grey;
    position: relative;
    left: 750px;
    outline: none;
    font-size: 15px;
}

#dark-light-mode:hover {
    color: lightgrey;
    background-color: black;
}

#third-container {
    margin: 80px 400px;
    padding: 10px 220px;
    border: orange 1px solid;
    border-radius: 1px;
    box-shadow: orange 1px 1px 10px;
    background-color: white;
}

#display-screen {
    margin: 0;
    padding: 15px;
    border: lightgrey 2px solid;
    border-radius: 10px;
    box-shadow: lightgrey 1px 1px 10px;
    background-color: white;
    line-height: 15px;
    width: 400px;
    position: relative;
    left: -210px;
}

p {
    font-family: arial, sans-serif;
    font-size: 40px;
    color: grey;
    line-height: 10px;
    position: relative;
    left: 360px;
}

#buttons {
    margin: 20px -200px;
}

.row-1, .row-2, .row-3, .row-4, .row-5 {
    display: flex;
    flex-direction: row;
    flex: 1;
}