html, body {
    margin: 0;
    background-color: white;
    font-family: arial, sans-serif;
}

header {
    margin: 30px 450px;
    padding: 10px;
}

h1{
    margin-left: 100px;
    margin-right: 400px;
    padding: 20px;
    padding-right: 10px;
    color: orange;
    text-shadow: orange 1px 1px 8px;
    font-size: 50px;
}